<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="title">ここにタイトルを入力</th:block>
<th:block layout:fragment="caption">ここに説明を入力</th:block>
<th:block layout:fragment="content">
	<div class="mb-3">
		<div class="_500">使用方法</div>
		<div>pages/dev/frame.html　をコーピして使ってください。</div>
		<div>内容は「content」の中に入力してください。</div>
	</div>
</th:block>

<th:block layout:fragment="javascript">
</th:block>

</html>