<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="title">spring security</th:block>
<th:block layout:fragment="caption">spring security サンプル</th:block>
<th:block layout:fragment="content">
	<div>
		<button class="btn btn-outline b-primary text-primary">ログイン</button>
		<button class="btn btn-outline b-primary text-primary">ログイン</button>
	</div>
</th:block>

<th:block layout:fragment="javascript">
</th:block>

</html>